################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/StudentApp/FileContentIndex
/StudentPortalApp/.vs/StudentPortalApp/FileContentIndex
