################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/
/StudentPortalApp/.vs/StudentPortalApp/FileContentIndex
