################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/
bin/
obj/
/StudentPortalApp/.vs/StudentPortalApp/FileContentIndex
